<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interview.movie_box"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_ic"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:screenOrientation="portrait" >
        <activity
            android:name=".MainDashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewMovies"
            android:label="@string/title_activity_view_movies"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.interview.movie_box.GenresView" />
        </activity>
        <activity
            android:name=".AddMovies"
            android:label="@string/title_activity_add_movies" 
            android:configChanges="keyboardHidden|orientation|screenSize">

            <!-- android:parentActivityName="com.interview.movie_box.MainDashboard" -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.interview.movie_box.MainDashboard" />
        </activity>
        <activity
            android:name=".GenresView"
            android:label="@string/title_activity_genres_dashboard"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.interview.movie_box.MainDashboard" />
        </activity>
        <activity
            android:name=".MovieDetails"
            android:label="@string/title_activity_movie_details"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.interview.movie_box.ViewMovies" />
        </activity>
    </application>

</manifest>